@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FF4500;
  --secondary: #001F54;
  --accent: #FFD700;
  --background: #0d1117;
  --foreground: #ffffff;

  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 13, 17, 23;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-start-rgb);
  /* Fallback */
}